.toggle-container {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
    padding-right: 10px;
    margin-top: 2px;
  }
  
  .toggle {
    width: 50px;
    height: 26px;
    background-color: #ccc;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
  }
  
  .toggle.active {
    background-color: #3a3a3a;
  }
  
  .theme-icon {
    height: 20px;
    width: 20px;
    position: absolute;
    top: 3px;
    transition: opacity 0.3s ease;
  }
  
  .sun {
    left: 3px;
  }
  
  .moon {
    right: 3px;
  }
  
  .theme-icon.hidden {
    opacity: 0;
  }
  
  /* Add hover styles */
  .toggle:hover {
    background-color: #e9cc6d;
  }
  
  .toggle.active:hover {
    background-color: #242323;
  }
  
  /* Add hover styles for sun and moon icons */
  .theme-icon.sun:hover {
    /* fill: #5302cb; Brighter yellow color on hover */
    opacity: 0.3;
  }
  
  .theme-icon.moon:hover {
    opacity: 0.3;
  }
  